.gradient-custom {
  /* fallback for old browsers */
  background: #249d72;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(36, 157, 114), rgb(102, 231, 119));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(36, 157, 114), rgb(102, 231, 119))
}