<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2><span style="font-size: 60px;">Talha Butt</span></h2>
        <h2>Ruby on Rails Developer</h2>
        <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero. Qui voluptas amet.</p>
        <a href="contact.html" class="btn-get-started">Available for hire</a>
      </div>
    </div>
  </div>
</section>